<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftnirp.board.dao.BoardDAO">
	
	<select id="getList" resultType="com.ftnirp.board.dto.BoardVO">
		select * from board_r order by userId asc
	</select>
	
	<select id="getListPaging" resultType="com.ftnirp.board.dto.BoardVO">
	
		 <![CDATA[
        
        	select * from (
        
                select rownum as rn, userId, b_title, b_body, userName, regdate, userFid
                
                from (
                
                select * from board_r
                
                order by userId desc
                
	                ) A 
                )
                
      		 WHERE RN BETWEEN #{start} AND #{end}
    
   			 ]]>
   			 
	
		
	</select>
	
	<select id="pagingNum" parameterType="Integer" resultType="Integer">
		select count(*) from board_r
	</select>
	
	<select id="listOne" parameterType="Long" resultType="com.ftnirp.board.dto.BoardVO">
		select * from board_r where userId = #{userId}
	</select>
	
	<insert id="insertBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		INSERT INTO board_r
		VALUES (
		board_seq.nextval,
		DEFAULT,
		#{b_title},
		#{b_body},
		sysdate,
		DEFAULT
		)
	</insert>
	
	<insert id="insertLogin" parameterType="com.ftnirp.board.dto.BoardVO">
		INSERT INTO board_r
		VALUES (
		board_seq.nextval,
		#{userName},
		#{b_title},
		#{b_body},
		sysdate,
		#{userFid}
		)
	
	</insert>
	
	<update id="updateBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		UPDATE board_r SET
		b_title = #{b_title},
		b_body = #{b_body}
		where userId = #{userId}
	</update>
	
	
	<delete id="deleteBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		DELETE board_r
		WHERE userId = #{userId}
	</delete>
	
	
	<insert id="pantsCart" parameterType="com.ftnirp.board.dto.CartVO">
		INSERT into cart_r
		VALUES (
		1,
		'img/pants.jpg',
		'Modern Pants' ,
		1,
		5,
		'free',
		'69,000',
		'pants'
		)
	</insert>
	
	<select id="cartList" resultType="com.ftnirp.board.dto.CartVO">
		select * from cart_r order by cartNum asc
	</select>









</mapper>