<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftnirp.board.dao.BoardDAO">
	
	<select id="getList" resultType="com.ftnirp.board.dto.BoardVO">
		select * from board_r order by userId asc
	</select>
	
	<select id="getListPaging" resultType="com.ftnirp.board.dto.BoardVO">
	
		 <![CDATA[
        
        	select * from (
        
                select rownum as rn, userId, b_title, b_body, userName, regdate, userFid
                
                from (
                
                select * from board_r
                
                order by userId desc
                
	                ) A 
                )
                
      		 WHERE RN BETWEEN #{start} AND #{end}
    
   			 ]]>
   			 
	
		
	</select>
	
	<select id="pagingNum" parameterType="Integer" resultType="Integer">
		select count(*) from board_r
	</select>
	
	<select id="listOne" parameterType="Long" resultType="com.ftnirp.board.dto.BoardVO">
		select * from board_r where userId = #{userId}
	</select>
	
	<insert id="insertBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		INSERT INTO board_r
		VALUES (
		board_seq.nextval,
		DEFAULT,
		#{b_title},
		#{b_body},
		sysdate,
		DEFAULT
		)
	</insert>
	
	<insert id="insertLogin" parameterType="com.ftnirp.board.dto.BoardVO">
		INSERT INTO board_r
		VALUES (
		board_seq.nextval,
		#{userName},
		#{b_title},
		#{b_body},
		sysdate,
		#{userFid}
		)
	
	</insert>
	
	<update id="updateBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		UPDATE board_r SET
		b_title = #{b_title},
		b_body = #{b_body}
		where userId = #{userId}
	</update>
	
	
	<delete id="deleteBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		DELETE board_r
		WHERE userId = #{userId}
	</delete>
	
	
	<insert id="pantsCart" parameterType="com.ftnirp.board.dto.CartVO">
		INSERT into cart_r
		VALUES (
		1,
		'img/pants.jpg',
		'Modern Pants' ,
		1,
		5,
		'free',
		'69,000',
		'pants'
		)
	</insert>
	
	<insert id="pants2Cart" parameterType="com.ftnirp.board.dto.CartVO">
		INSERT into cart_r
		VALUES (
		2,
		'img/pants2.jpg',
		'Simple Pants' ,
		1,
		5,
		'free',
		'59,000',
		'pants2'
		)
	</insert>
	
	<insert id="jeanCart" parameterType="com.ftnirp.board.dto.CartVO">
		INSERT into cart_r
		VALUES (
		3,
		'img/jean.jpg',
		'Woman Jean' ,
		1,
		5,
		'free',
		'49,000',
		'jean'
		)
	</insert>
	
	
	<insert id="beltCart" parameterType="com.ftnirp.board.dto.CartVO">
		INSERT into cart_r
		VALUES (
		4,
		'img/belt.jpg',
		'Classic Belt' ,
		1,
		5,
		'free',
		'45,000',
		'belt'
		)
	</insert>
	
	<insert id="socksCart" parameterType="com.ftnirp.board.dto.CartVO">
		INSERT into cart_r
		VALUES (
		5,
		'img/socks.jpg',
		'RandB Socks',
		1,
		5,
		'free',
		'29,000',
		'socks'
		)
	</insert>
	
	
	<delete id="deleteCart" parameterType="com.ftnirp.board.dto.CartVO">
		DELETE cart_r
		where cartNum = #{cartNum}
	</delete>
	

	
	
	<select id="cartList" resultType="com.ftnirp.board.dto.CartVO">
		 <![CDATA[
	 	select rownum , a.*
		from cart_r a order by rownum asc
		]]>
	</select>


</mapper>