<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftnirp.board.dao.BoardDAO">
	
	<select id="getList" resultType="com.ftnirp.board.dto.BoardVO">
		select * from board_r order by userId asc
	</select>
	
	<select id="getListPaging" resultType="com.ftnirp.board.dto.BoardVO">
		
		 <![CDATA[
        
        select * from (
        
                select rownum as rn, userId, b_title, b_body, userName, regdate, userFid
                
                from (
                
                select * from board_r
                
                order by userId desc
                
                ) 
                
                where rownum <= #{pageNum} * #{amount}
                
                )
                
        where rn > (#{pageNum} -1) * #{amount}
    
   			 ]]>
	</select>
	
	<select id="pagingNum" parameterType="Integer" resultType="Integer">
		select count(*) as cnt from board_r
	</select>
	
	<select id="listOne" parameterType="Long" resultType="com.ftnirp.board.dto.BoardVO">
		select * from board_r where userId = #{userId}
	</select>
	
	<insert id="insertBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		INSERT INTO board_r
		VALUES (
		board_seq.nextval,
		DEFAULT,
		#{b_title},
		#{b_body},
		sysdate,
		DEFAULT
		)
	</insert>
	
	<insert id="insertLogin" parameterType="com.ftnirp.board.dto.BoardVO">
		INSERT INTO board_r
		VALUES (
		board_seq.nextval,
		#{userName},
		#{b_title},
		#{b_body},
		sysdate,
		#{userFid}
		)
	
	</insert>
	
	<update id="updateBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		UPDATE board_r SET
		b_title = #{b_title},
		b_body = #{b_body}
		where userId = #{userId}
	</update>
	
	
	<delete id="deleteBoard" parameterType="com.ftnirp.board.dto.BoardVO">
		DELETE board_r
		WHERE userId = #{userId}
	</delete>









</mapper>